{<<"app">>,<<"antidote_pb_codec">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Protocol buffer codec for Antidote">>}.
{<<"files">>,
 [<<"src/antidote_pb_codec.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/.gitkeep">>,<<"include/antidote_pb.hrl">>,<<"include/gpb.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/antidote_pb.erl">>,
  <<"src/antidote_pb_codec.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/AntidoteDB/antidote_pb_codec">>}]}.
{<<"name">>,<<"antidote_pb_codec">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"0.1.2">>}.
