{<<"app">>,<<"antidotec_pb">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"Antidote Erlang Client Library">>}.
{<<"files">>,
 [<<"src/antidotec_pb.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"rebar.config">>,<<"rebar.config.script">>,<<"rebar.lock">>,
  <<"src/antidotec_counter.erl">>,<<"src/antidotec_datatype.erl">>,
  <<"src/antidotec_pb.erl">>,<<"src/antidotec_pb_management.erl">>,
  <<"src/antidotec_pb_socket.erl">>,<<"src/antidotec_reg.erl">>,
  <<"src/antidotec_set.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/AntidoteDB/antidote-erlang-client">>}]}.
{<<"name">>,<<"antidotec_pb">>}.
{<<"requirements">>,
 [{<<"antidote_pb_codec">>,
   [{<<"app">>,<<"antidote_pb_codec">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~>0.1.2">>}]}]}.
{<<"version">>,<<"0.2.9">>}.
